canvas{
	width: 100%;
	height: 100%;
	background-color: rgb(50, 53, 56);
}
body, html{
	width: 100%;
	height: 100%;
	margin: 0;
}
p{
	position: absolute;
	margin: 10% 40%;
	width: 22%;
	display: inline-block;
    	background: white;
    	color: #666666;
    	font-family: "Lucida Grande", verdana, sans-serif;
    	font-size: 12px;
    	line-height: 27px;
    	border-radius: 10.56px;
    	padding: 0 16px;
	text-align: center;
}
h1{
	width: 20%;
	position: absolute;
	margin: 25% 44%;
	color: black;
	font-family: "Lucida Grande", verdana, sans-serif;
	font-weight: normal;
	font-size: 2.0rem;
	text-transform: uppercase;
}
